/* COLORS : Forest:  | Teal: #154042 | Mint: #d5e9dd | Pink: #decec8 | Cloud: #d4d6d5 */

* {
    box-sizing: inherit;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

:root {
    box-sizing: border-box;
    --font-iranSans: 'IRANSans';
    /** Black */
    --color-black-primary: #11201e;
    --color-black-seconday: #21302e;
    --color-black-tertiary: #293a37;
    /** Green */
    --color-green-light: #00796b;
    --color-green-primary: #154042;
    --color-green-secondary: #154042;
    --color-green-tertiary: #154042;
    /*? Blue */
    --color-light-blue-primary: #d5e9dd;
    --color-light-blue-secondary: #e2f2e7;
    --color-light-blue-tertiary: #e2f2e7;

    /* light Colors */
    --color-light-pink: #decec8;
    --color-cloud: #d4d6d5;
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src:
        /* IE6-8 */
        url('../fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/woff/IRANSansWeb_Bold.woff') format('woff');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/woff/IRANSansWeb_Medium.woff') format('woff');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src:
        /* IE6-8 */
        url('../fonts/woff2/IRANSansWeb.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/woff/IRANSansWeb.woff') format('woff');
}

a {
    text-decoration: none;
}

body {
    font-family: var(--font-iranSans);
}

.container {
    display: grid;
    grid-template-columns: 25% 75%;
}

#sidebar {
    background: var(--color-black-primary);
    height: 100vh;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
    margin: 4rem 0;
}

.nav-link {
    color: var(--color-cloud);
    font-size: 3rem;
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 1rem 0;
    transition: background-color ease 0.7s;

}

.nav-link__active,
.nav-link:hover {
    background-color: var(--color-green-primary);
}

.add-card {
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.editor,
#editor-container {
    width: 70rem;
    height: 45rem;
    font-family: var(--font-iranSans) !important;
}

.editor-title {
    font-size: 3.75rem;
    padding: 2.5rem 0;
}

.editor-title.back {
    color: var(--color-green-light);
}

.ql-header .ql-picker {
    width: 3rem;
}

.ql-toolbar.ql-snow {
    display: flex;
    gap: 4rem;
    padding: 1.25rem;
}

.ql-toolbar.ql-snow .ql-formats {
    margin-right: 0;
    display: inline-block;
    display: flex;
    gap: 1.5rem;
}

.ql-editor {
    font-size: 16px;
    font-family: var(--font-iranSans) !important;
    /* Adjust this value to make the text bigger */
    line-height: 1.5;
    /* Optional: Adjust line height for readability */
}




.ql-picker-label {
    width: 13rem;
    height: 4rem;
    font-size: 3rem;
}

/* You can also adjust other styling properties as needed */

.ql-picker-options {
    font-size: 2rem;
}

.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
    height: 4rem;
}

.ql-snow .ql-picker.ql-header {
    width: 18rem;
    height: 4rem;
}

.ql-editor.ql-blank::before {
    font-size: 2rem;
}


.ql-snow .ql-icon-picker .ql-picker-item {
    height: 4rem;
    width: 4rem;
}


.ql-align.ql-picker.ql-icon-picker {
    width: 4.5rem;
    height: 4.5rem;
}


.ql-tooltip.ql-editing {
    font-size: 2.5rem;
}

.ql-tooltip {
    font-size: 2.5rem;
    display: flex;
    width: 38rem;
    justify-content: space-around;
    align-items: center;
    padding: 1.25rem 2rem;
}

.ql-snow .ql-tooltip.ql-editing input[type=text] {
    font-size: inherit;
}

.ql-editor p,
.ql-editor em,
.ql-editor strong,
.ql-editor u,
.ql-editor a {
    margin: 0;
    font-size: 2.25rem;
    /* Remove default margins for paragraphs */
}

.ql-syntax {
    font-size: 2.5rem;
}

.ql-editor h1 {
    font-size: 3.75rem;
}

.ql-editor h2 {
    font-size: 3.25rem;
}

.btn-container {
    margin-top: 10rem;
    align-items: center;
    display: flex;
    gap: 4rem;
}

.flip-side-card_btn,
.save-card_btn {
    font-size: 2.75rem;
    color: var(--color-cloud);
    background-color: var(--color-black-primary);
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: all ease 0.4s;
}

.flip-side-card_btn:hover,
.save-card_btn:hover {
    cursor: pointer;
    background-color: var(--color-green-primary);
}

.type-radio-group {
    height: 5.25rem;
    font-size: 3.5rem;
    gap: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black-primary);
    padding: 0.25rem 1.75rem;
    border-radius: 1rem;
    color: var(--color-light-blue-secondary);
}

.type-radio-group div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.type-radio-btn {
    height: 2.5rem;
    width: 2.5rem;
}

.type-radio-btn__label {
    font-size: 2rem;
}

.type-radio-btn:checked {
    color: var(--color-green-tertiary);
}

/* Overview - Review Cards */
.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    width: 100%;
    height: 100%;
}

.flip-card-container {
    width: 70rem;
    height: 45rem;
    perspective: 5000rem;
}

.flip-card {
    position: relative;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.flip-card-container:hover .flip-card {
    transform: rotateY(180deg);
}

.flip-card_front,
.flip-card_back {
    position: absolute;
    width: 70rem;
    height: 45rem;
    backface-visibility: hidden;
}

.flip-card_back {
    transform: rotateY(180deg);
}

.review-tags {
    display: flex;
    flex-wrap: wrap;
    width: 70rem;
    justify-content: flex-start;
    margin: 2rem 0.5rem;
}

.review-tags .review-tag {
    font-size: 2rem;
    background-color: var(--color-green-tertiary);
    color: var(--color-light-pink);
    display: inline-block;
    border-radius: 0.5rem;
    padding: 0.75rem 1.25rem;
    margin: 0.5rem;
}

.review-btn {
    font-size: 2.75rem;
    color: var(--color-cloud);
    background-color: var(--color-black-primary);
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: all ease 0.4s;
}

.review-btn_forgot {
    background-color: #056edf;
}

.review-btn_forgot:hover {
    background-color: #258eff;
}

.review-btn_del {
    background-color: rgb(140, 38, 48);

}

.review-btn_del:hover {
    background-color: rgb(219, 0, 22);

}

.review-btn_remember {
    background-color: #155f42;
}

.review-btn_remember:hover {
    background-color: #00ac6b;
}

.review-btn_forgot:hover,
.review-btn_remember:hover {
    cursor: pointer;
}

/* authentication-form */
/* login */
.auth-form {
    margin-top: 16rem;
    font-size: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.form_title::first-letter {
    text-transform: uppercase;
}

.form_label {
    font-size: 3.5rem;
}

.form_input {
    border: 3px solid #11201e;
    border-radius: 4px;
    padding: 0.75rem 1rem;
}

.form_btn {
    border: 3px solid #11201e;
    border-radius: 4px;
    padding: 0.75rem 2rem;
    transition: all ease-in-out 150ms;
}

.form_btn::first-letter {
    text-transform: uppercase;
}

.form_btn:hover {
    background: var(--color-green-light);
    color: var(--color-cloud);
    cursor: pointer;
}

.form_logout-btn:hover {
    background: rgb(140, 38, 48);
    ;
}

.form_notice {
    transition: all ease-in-out 150ms;
}

.form_notice:hover {
    cursor: pointer;
    color: var(--color-green-light);
}

.form_notice span {
    font-size: inherit;
}

.d-none {
    display: none;
}

.grid-temp-col-1 {
    grid-template-columns: 1fr;
}